	<h2 class="title is-2">
		<a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
	</h2>
	{{ partial "post-date" . }}
	<p></p>
	<div class="content is-size-4">

	{{ .Content }}

	</div>

