{{ define "main" }}

{{ $truncate := default true .Site.Params.truncate }}
{{ range .Paginator.Pages }}


{{ if (ne .Page.Params.no_index true) }}

<section class="section">
    <div class="container">
    
    {{ if $truncate }}
        {{ .Render "summary" }}
    {{ else }}
        {{ .Render "content" }}
    {{ end }}
	</div>
</section>

{{ end }}

{{ end }}

{{ partial "paginator" . }}

{{ end }}
