{{ define "main" }}
	<section class="section">
    	<div class="container">

	<h3 class="title is-2">
		<a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
	</h3>

<nav class="level">
  <!-- Left side -->
    <div class="level-left">
	    <div class="level-item">
{{ partial "post-date" . }}
		</div>
	</div>
    <div class="level-right">
	    <div class="level-item">


	{{ partial "post-tags" . }}
    {{ partial "post-categories" . }}
		</div>
	</div>
</nav>

	<p></p>
    <hr>
		  <div class="content">
		  <div class="content is-large">
		  {{ .Content }}
		  </div>
		  </div>
        {{ if .IsTranslated }}
      <h4>{{ i18n "translations" }}</h4>
      <ul>
        {{ range .Translations }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}

    {{ partial "related" . }}

 
 	<br/>
    {{ template "_internal/disqus.html" . }}

	</div>
  	</section>
{{ end }}
