
<footer class="footer has-background-black">
  <div class="container">
  
<div class="columns">
		<div class="column">
		<strong>Ivan Meza's homepage</strong></br>
			<a href="http://twitter.com/ivanvladimir" target="_blank"><i class="fab fa-twitter-square"></i></a>
			<a href="https://github.com/ivanvladimir" target="_blank"><i class="fab fa-github-square"></i></a>
			<a href="http://ivanvladimir.tumblr.com" target="_blank"><i class="fab fa-tumblr-square"></i></a>
			<a href="http://www.linkedin.com/in/ivanvladimir" target="_blank"><i class="fab fa-linkedin"></i></a>
			<a href="http://www.youtube.com/user/ivanvladimir" target="_blank"><i class="fab fa-youtube-square"></i></a>
			<a href="http://www.facebook.com/ivanvladimirmr" target="_blank"><i class="fab fa-facebook-square"></i></a>
			<a href="https://google.com/+IvanVladimirMezaRuiz" target="_blank"><i class="fab fa-google-plus-square"></i></a>
			<a href="mailto:ivanvladimir.homepage@gmail.com" target="_blank"><i class="fa fa-envelope-square"></i></a>
		</div>
		<div class="column">
		<strong>Developed using:</strong></br>

		<a href="https://gohugo.io/">Hugo</a>,
		<a href="http://d3js.org/">d3</a>
		</p>
		</div>
		<div class="column">
		<strong>Copyright 2018 Ivan Vladimir Meza Ruiz</strong>
		</div>
	</div>
</div>

<br/>
<p>
<center>
<a class="button is-info" href="#">{{ i18n "backToTop" }}</a>
</center>
</p>
</footer>


