<header>
<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">Ivan Vladimir Meza Ruiz</a>
    <div class="navbar-burger burger" data-target="navbarMain">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
    	{{ $url := .Page.Permalink | relLangURL }}
        {{ range .Site.Menus.main }}
        <a class="navbar-item {{ if eq $url (.URL | relLangURL) }}active{{end}}" href="{{ .URL  }}">{{ .Name }}</a>
        {{ end }}
	</div>

    <div class="navbar-end">
            {{ if gt (len .Translations) 0 }}
			<div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">{{ i18n "language"}}</a>
				<div class="navbar-dropdown is-boxed">
                	{{ range .Translations }}
                    	<a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                </div>
            </div>
            {{ else }}
			<div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">{{ i18n "language"}}</a>
				<div class="navbar-dropdown is-boxed">
                	{{ range .Site.Home.AllTranslations }}
                    	<a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                </div>
            </div>
            {{ end }}
    </div>
	</div>
</nav>


<section class="hero">
	<img src="{{ .Site.BaseURL }}/cover.jpg">

	{{ block "icons" .}}
	  {{partial "icons.html" . }}
	{{ end }}
</section>

<script>
	document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});


</script>


</header>
