<nav class="level">
    <div class="level-left">
    </div>
    <div class="level-right">
	    <div class="level-item is-size-2 ">
			<a href="" target="_blank"><i class="fab fa-twitter-square has-text-info"></i></a>
			&nbsp;  
			<a href="" target="_blank"><i class="fab fa-github-square has-text-info"></i></a> 
			&nbsp;   
			<a href="" target="_blank"><i class="fab fa-tumblr-square has-text-info"></i></a> 
			&nbsp;   
			<a href="" target="_blank"><i class="fab fa-linkedin has-text-info"></i></a> 
			&nbsp;   
			<a href="" target="_blank"><i class="fab fa-youtube-square has-text-info"></i></a> 
			&nbsp;   
			<a href="" target="_blank"><i class="fab fa-facebook-square has-text-info"></i></a> 
			&nbsp;   
			<a href="" target="_blank"><i class="fab fa-google-plus-square has-text-info"></i></a> 
			&nbsp;   
			<a href="" target="_blank"><i class="fa fa-envelope-square has-text-info"></i></a> 
			&nbsp;   
		</div>
	</div>
</nav>
	
