
{{if $.Params.extra_options}}
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
    <div class="navbar-burger burger" data-target="extraOptions">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>


<div id="extraOptions" class="navbar-menu">
    <div class="navbar-start is-size-6">
	 {{ range $k, $v := .Params.extra_options }}
     {{ if hasPrefix $v.href "http"}}
      <a class="navbar-item  {{if $v.is_active}}is-active{{end}}" href="{{$v.href}}" {{range $k,$v := .args }}{{$k}}="{{$v}}"{{end}} target="_blank">
        {{i18n $k}}
      </a>
    {{else}}
   <a class="navbar-item  {{if $v.is_active}}is-active{{end}}" href="{{ $.Site.BaseURL }}{{$v.href}}" {{range $k,$v := .args }}{{$k}}="{{$v}}"{{end}}>
        {{i18n $k}}
      </a>

	 {{ end }}
	 {{ end }}
	<div>
<div>
</nav>
{{end}}
