{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
	<ul class="pagination-list">
        <li class="{{ if not $pag.HasPrev }}disabled{{ end }}">
            <a class="pagination-link" href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {{ $.Scratch.Set "__paginator.ellipsed" false }}
        {{ range $pag.Pagers }}
            {{ $right := sub .TotalPages .PageNumber }}
            {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
            {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
            {{ if $showNumber }}
                {{ $.Scratch.Set "__paginator.ellipsed" false }}
                {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
            {{ else }}
                {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
                {{ $.Scratch.Set "__paginator.ellipsed" true }}
            {{ end }}
            {{ if $showNumber }}
                <li>
                    <a class="{{ if eq . $pag }}is-current{{ end }} pagination-link" href="{{ .URL }}">{{ .PageNumber }}</a>
                </li>
            {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
                <li class="disabled">
                    <span class="pagination-link" aria-hidden="true">&hellip;</span>
                </li>
            {{ end }}
        {{ end }}
        <li class="{{ if not $pag.HasNext }}disabled{{ end }}">
            <a class="pagination-link" href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
       </ul>
</nav>
{{ end }}
