{{ define "main" }}
	</i>{{ block "body" . }}
  	<section class="section">
    	<div class="container">
		  <div class="content">
		  <div class="content is-large">
		  {{ .Content }}
		  </div>
		  </div>
    	</div>
  	</section>
	{{ end }} 
{{ end }} 
